<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Signup</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="signup()"
            [formGroup]="signupForm"
            novalidate
            fxLayout="column">
        <mat-form-field fxFlex>
          <input matInput
                 placeholder="E-mail"
                 formControlName="email">
          <mat-error *ngIf="fcErr('email', 'required')">
            email required
          </mat-error>
          <mat-error *ngIf="fcErr('email', 'email', ['required'])">
            email is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput
                 placeholder="Password"
                 type="password"
                 formControlName="password">
          <mat-error *ngIf="fcErr('password', 'required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="fcErr('password', 'minlength', ['required'])">
            Password needs to be at least 6 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput
                 placeholder="Repeat Password"
                 type="password"
                 formControlName="repeatPassword">
          <mat-error *ngIf="fcErr('repeatPassword', 'required')">
            Repeat Password is required
          </mat-error>
          <mat-error *ngIf="fcErr('repeatPassword', 'no-match', ['required'])">
            Repeat Password does not match password
          </mat-error>
        </mat-form-field>
        <button mat-button
                color="accent"
                type="submit"
                [disabled]="signupForm.invalid">
          Sign Up
        </button>
        <button mat-button
                color="primary"
                type="button"
                routerLink="/login">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
